@import url('./_policy/footer__link_policy.css');

.footer__link {
    color: #FF8B02;
    text-decoration: none;
    border-bottom: 1px solid #ff8b02;
    transition: border-bottom .2s ease-in-out;
}

.footer__link:hover {
    border-bottom: 4px solid #ff8b02;
}