.patreon__button {
    font-family: 'Roboto';

    cursor: pointer;

    width: 197px;
    height: 44px;

    border: 2px solid #E7820C;
    box-sizing: border-box;
    border-radius: 5px;

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.06em;

    background-color: #E7820C;
    color: #fff;
    outline: none;

    transition: background-color 0.4s ease,
                color 0.7s ease;

}

.patreon__button:hover {
    border: 2px solid #E7820C;
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .patreon__button {
        margin-left: 40px;
    }
}

@media screen and (max-width: 375px) {
    .patreon__button {
        margin-left: 0;
    }
}