@import url('./__link/footer__link.css');
@import url('./__paragraph/footer__paragraph.css');
@import url('./image/footer__image.css');
@import url('./__container/footer__container.css');

.footer {
    font-family: 'Yanone Kaffeesatz';
    height: 343px;

    margin-top: 106px;
    padding: 71px 0 0 156px;

    background-color: #303030;
}


@media screen and (max-width: 650px) {
    .footer {
        margin-top: 10px;
        padding: 71px 0 0 19px;

        height: 346px;
    }
}